@model BagLib.Models.MyStock

@{
    ViewData["Title"] = "Create";
}

<h1>Add to My Stocks</h1>

<h4>@Model.Stock.Name</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StockId" />
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuyPrice" class="control-label"></label>
                <input asp-for="BuyPrice" class="form-control" />
                <span asp-validation-for="BuyPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuyDate" class="control-label"></label>
                <input asp-for="BuyDate" class="form-control" />
                <span asp-validation-for="BuyDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
